body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: url("../img/greece.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #fbeee0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

h1 {
  color: #422800;
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #422800;
}

input,
textarea,
select {
  background-color: #fbeee0;
  color: #422800;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #422800;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  height: 100px;
}

.submit-btn {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-btn:hover {
  background-color: #c0392b;
}
header {
  position: absolute;
  top: 0;
  width: 100%;

  padding: 15px 0;
  text-align: right;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.menu li {
  display: inline;
  margin-right: 20px;
}

.menu a {
  color: #fbeee0;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #422800;
}

@media (max-width: 768px) {
  .menu a {
    font-size: 16px;
  }
}
