body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../img/new-york-city.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    scroll-behavior: smooth;
}
.container {
    background-color: #fbeee0;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
.container img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}
.container h2 {
    color: #422800;
    margin-bottom: 20px;
    font-size: 2em;
}
.container p {
    color: #422800;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container a:hover {
    background-color: #026aa7;
}
.scroll-down {
    margin-top: 10px;
    color: #0288d1;
    cursor: pointer;
    font-size: 18px;
    text-decoration: underline;
}

.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}